.bg-light.py-3
.container
  .row
    .col-md-12.mb-0
      a(href='/api') Trang chủ
      span.mx-2.mb-0 /
      strong.text-black Tất cả sản phẩm
.site-section
.container
  .row.mb-5
    .col-md-9.order-2
      .row
        .col-md-12.mb-5
          .float-md-left.mb-4
            h2.text-black.h5 Sản phẩm
          .d-flex
            .dropdown.mr-1.ml-md-auto
              button#dropdownMenuOffset.btn.btn-secondary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Mới nhất
              .dropdown-menu(aria-labelledby='dropdownMenuOffset')
                | #{product.brand}
                a.dropdown-item.text-capitalize(href='/product/#{product.product_name}') #{product.product_name}
                |
            .btn-group
              button#dropdownMenuReference.btn.btn-secondary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown') Sắp xếp
              .dropdown-menu(aria-labelledby='dropdownMenuReference')
                a.dropdown-item(href='#') Bán chạy
                a.dropdown-item(href='#') Tên sản phẩm, tăng dần
                a.dropdown-item(href='#') Tên sản phẩm, giảm dần
                .dropdown-divider
                a.dropdown-item(href='#') Giá, thấp đến cao
                a.dropdown-item(href='#') Giá, cao đến thấp
      .row.mb-5
        .col-sm-6.col-lg-4.mb-4(data-aos='fade-up')
          .block-4.text-center.border
            figure.block-4-image
              a(href='/product/#{product.url}')
                img.img-fluid(src='#{product.image}', alt='Image placeholder')
            .block-4-text.p-4
              h3
                a(href='/product/#{product.url}') #{product.product_name}
              p.text-primary.font-weight-bold #{product.price} đ
        |                     {{/each}}
      .row(data-aos='fade-up')
        .col-md-12.text-center
          .site-block-27
            ul
              li
                a(href='#') <
              li.active
                span 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#') >
    .col-md-3.order-1.mb-5.mb-md-0
      .border.p-4.rounded.mb-4
        h3.mb-3.h6.text-uppercase.text-black.d-block Thương hiệu
        ul.list-unstyled.mb-0
          | #{product.brand}
          li.mb-1
            a.d-flex.text-capitalize(href='/product/#{product.product_name}')
              span #{product.product_name}
          |
      .border.p-4.rounded.mb-4
        .mb-4
          h3.mb-3.h6.text-uppercase.text-black.d-block Giá tiền
          #slider-range.border-primary
