.bg-light.py-3
  .container
    .row
      .col-md-12.mb-0
        a(href='/api') Trang chủ
        span.mx-2.mb-0 /
        a(href='.') #{product.product_name}
        span.mx-2.mb-0 /
        strong.text-black Thông tin chi tiết
.site-section
  .container
    .row
      .col-md-6
        img.img-fluid(src='#{product.image}', alt='Image placeholder')
      .col-md-6
        h2.text-black #{product.product_name}
        p
          strong.text-primary.h4 #{product.price}
        ul
          | #{product.product_description}

      <!--  span.text-black Chọn màu:
        .mb-1.d-flex
          | {{#each data.color}}
          label.d-flex.mr-3.mb-3(for='{{this}}')
            span.d-inline-block.mr-2(style='top:-2px; position: relative;')
              input(type='radio', id='{{this}}', name='color')
            span.d-inline-block.text-black {{this}}
          |                     {{/each}} -->
        .mb-5
          .input-group.mb-3(style='max-width: 120px;')
            .input-group-prepend
              button.btn.btn-outline-primary.js-btn-minus(type='button') −
            input.form-control.text-center(type='text', value='1', placeholder='', aria-label='Example text with button addon', aria-describedby='button-addon1')
            .input-group-append
              button.btn.btn-outline-primary.js-btn-plus(type='button') +
        p
          a.buy-now.btn.btn-sm.btn-primary(href='/api/cart') Thêm vào giỏ hàng
.site-section.block-3.site-blocks-2.bg-light
  .container
    .row.justify-content-center
      .col-md-7.site-section-heading.text-center.pt-4
        h2 Thông tin chi tiết
    table#chi-tiet.table.table-bordered.table-detail.table-striped(cellspacing='0')
      colgroup
        col(style='width: 25%;')
        col
      tbody
        tr
          td Thương hiệu
          td
            a(href='.') #{product.brand}
        tr
          td Kích thước màn hình
          td
            | #{product.screen}
        tr
          td Camera trước
          td
            | #{product.fcamera}
        tr
          td Camera sau
          td
            | #{product.bcamera}
        tr
          td Bộ nhớ RAM
          td
            | #{product.ram}
        tr
          td Bộ nhớ trong
          td
            | #{product.rom}
        tr
          td Dung lượng pin
          td
            | #{product.pin}
