extends layout


block content
h1= title
p Chào mừng đến với trang web quản lí của Cửa hàng Đồ án cuối kì

h1 Dynamic content

if error
  p Error getting dynamic content.
else
  p The library has the following record counts:

  ul
    li #[strong Tài Khoản:] !{data.account_count}
    li #[strong Gian Hàng:] !{data.stall_count}
    li #[strong Sản Phẩm:] !{data.product_count}
    li #[strong Đơn Hàng:] !{data.order_count}
