extends layout

block content
  h1 Tên đăng nhập: #{account.login_name}

  p #[strong Tên:] #{account.name}
  p #[strong Ngày sinh:] #{account.birth_formatted}
  p #[strong Email:] #{account.email}
  p #[strong Điện thoại:] #{account.phone}
  p #[strong Loại tài khoản:] #{account.type}


  div(style='margin-left:20px;margin-top:20px')
  h4 Hoạt Động
  if account.type=='Customer'
    dl
      each val in orders
        dt
          a(href=val.url) #{val._id}
          |  (#{val.type}) |  (#{val.order_date_formatted})
  else
      p Tài khoản này không có hoạt động.
  hr
  p
    a(href=account.url+'/update') Update tài khoản
