extends layout

block content

  h1 Đơn hàng: #{order._id}

  div(style='margin-left:20px;margin-top:20px')

    h4 #{order.type} | #{order.order_date_formatted}
    p
    p Sản phẩm: 
      a(href=order.url) #{order.product.product_name}
    p Số lượng: #{order.number}
    p Tổng giá: #{order.number*order.product.price}
